/* Definição das fonte, tipo, tamanho, e família */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* Aqui está setado o main content do body para renderização de background e tamanho total das divs. */
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

/* Configurações de estilo visual da caixa 3D */
.box
{
    position: relative;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate 16s linear infinite;
}

/* Configurações de animação da da caixa, setada para rotação linear infinita */
@keyframes animate
{
    0%
    {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    
    100%
    {
        transform: rotateX(-20deg) rotateY(0deg);
    }

}

.box div 
{
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
}

.box div.block span
{
    position: absolute;
    left: calc(50% - 100px);
    width: 200px;
    height: 100px;
    background: #444;
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    transition: 0.5s;
}

/* Definição do efeito de Hover, junto com adição de sombras para iluminação da caixa */
.box:hover div.block span{
    background: #f00;
    filter: drop-shadow(0 0 50px #f00);
}

/* Definição de estilização do texto "Happy new Year" ao redor da caixa */
.box div.text span{
    position: absolute;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    cursor: pointer;
    color: #fff;
    font-size: 8em;
    text-transform: uppercase;
    z-index: 10;
    line-height: 1em;
    -webkit-text-stroke: 3px #000;
    transform-style: preserve-3d;
}

/* Diminuição da palavra "Happy", setada e identificada através do data-text criado no span dentro do HTML */
.box div.text span:nth-child(1)
{
    font-size: 6em;
}

/* Criação das sombras de "Happy New Year" logo acima da borda exterior da caixa */
.box div.text span::before
{
    content: attr(data-text);
    position: absolute;
    bottom: 7px;
    transform-origin: bottom;
    transform: rotateX(-90deg);
    color: rgba(0, 0, 0, 0.1);
    -webkit-text-stroke: 0px #000;
    filter: blur(5px);
}

/*  */
.box div.text span::after
{
    content: '';
    position: absolute;
    top: 100px;
    width: 360px;
    height: 60px;
    background: #444;
    transform: rotateX(-90deg);
    transition: 0.5;
}
/* Definição da iluminação com sombras da borda exterior da caixa */
.box:hover div.text span::after
{
    background: #f00;
    filter: drop-shadow(0 0 50px #f00);
}
