@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    background-color: rgb(211, 211, 211);
}

header {
    position: relative;
    height: 6em;
    display: flex;
    padding-left: 5%;
    gap: 25%;
    align-items: center;
    border-bottom: 0.3em solid;
    /* adjust the width as needed */
    border-image: linear-gradient(to right, #75757500, #23eb23);
    border-image-slice: 1;
    background-color: #3a3a3a;
    color: #f0f0f0;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  
  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    border-radius: 2px;
    transition: 0.7s;
  }
  
  
  header .logo img {
    width: 100%;
    padding: 5%;
    border-radius: 2px;
  }
  
  nav {
    width: 15%;
  }
  
  nav ul {
    position: relative;
    margin-top: -41.1vh;
    display: block;
    list-style-type: none;
    height: 8rem;
    background-color: #007e1d93;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    transform: translateY(-2em);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.3s ease-out;
  }
  
  /* Show the nav ul when the header is being hovered over */
  header:hover + section nav ul {
    transform: translateY(0);
    opacity: 1;
    position: fixed;
    width: 15%;
  }
  
  /* Keep the nav ul visible when it is being hovered over */
  nav ul:hover {
    transform: translateY(0);
    opacity: 1;
  }
  
  /* Hide the nav ul again when the header or nav ul is not being hovered over */
  header:not(:hover) + section nav ul:not(:hover) {
    transform: translateY(-2em);
    opacity: 0;
  }
  

nav ul a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    letter-spacing: 0.10dvh;
    transition: 0.6s;
    align-items: center;
}

nav ul a:hover {
    text-shadow: 0 0 10px #c4c4c4;
}


section
{
    position: relative;
    height: 37.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    z-index: 1;
}

.cards
{
    margin-left: -10%;
    width: 80%;
    display: flex;
    gap: 2%;
}

.card1, .card2, .card3, .card4 {
    display: flex;
    margin-top: -6%;
    height: 10em;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #008f00;
    border-radius: 15px;
    transition: 0.6s;
    color: #f0f0f0;
    animation: box-float 0.9s ease-in-out forwards;
    animation-delay: 0.1s; /* Delay the animation to allow the page to load */
    transform: translateY(100%); /* Start the cards at the bottom */
  }
  
  @keyframes box-float {
    to {
      transform: translateY(0%);
    }
  }
.card1 a, .card2 a, .card3 a, .card4 a
{
    font-size: 1.2em;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover
{
    margin-top: -7%;
    text-shadow: 0 0 10px #ededed;
    background-color: #006400;
}

footer 
{
    display: flex;
    background-color: #3a3a3a;
    height: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer p
{
    color: #f0f0f0;
    font-size: 1vw;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}



/*Mudar cor do sign in para cor do logo da eco;
user name e password e <A> para um cinza mais escuro ;
*/