@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(211, 211, 211);
}
header {
    height: 6em;
    display: flex;
    padding-left: 5% ;
    gap: 25%;
    align-items: center;
    border-bottom: 0.3em solid;
  /* adjust the width as needed */
    border-image: linear-gradient(to right, #75757500, #23eb23);
    border-image-slice: 1;
    background-color: #3a3a3a;
    color: #f0f0f0;
    text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.5);
}
header img 
{
    width: 18%;

}


nav ul 
{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding-left: 6%;
    height: 2rem;
    background-color: #007e1d93;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}
nav ul a
{
    text-decoration: none;
    color: white;
    letter-spacing: 0.10dvh;
    border-right: solid white;
    padding-right: 3%;
}

section
{
    height: 35.3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.card1, .card2, .card3, .card4
{
    display: flex;
    margin-top: -6%;
    height: 10em;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #007800;
    border-radius: 15px;
    transition: 0.6s;
    color: #f0f0f0;
    text-shadow: 0 0 10px #fff;
}
.card1 a, .card2 a, .card3 a, .card4 a
{
    font-size: 1.2em;
}

.card1:hover, .card2:hover, .card3:hover, .card4:hover
{
    transform: translateY(-10%);
}

footer 
{
    display: flex;
    background-color: #3a3a3a;
    height: 2em;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer p
{
    color: #f0f0f0;
    font-size: 1vw;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}



/*Mudar cor do sign in para cor do logo da eco;
user name e password e <A> para um cinza mais escuro ;
*/